<%= form_for @question do |f| %>
	<% if @question.errors.any? %>
		<div id='error_explanation'>
			 <h2><%= pluralize(@question.errors.count, "error") %> prohibited this project from being 	saved: </h2>

        <ul>
          <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
		</div>
	<% end %>
  <div class="field">
      <div class="small-12 columns">
          <label class= "inline"><%= f.label :question %></label> 
          <%= f.text_field :question %>
      </div>
  </div>

  <div class="field">
      <div id="rewards">
          <%= f.fields_for :answer_choices do |a| %>
              <%= render 'answer_fields', :f => a %>
          <% end %>
          <div class="small-12 columns">
              <div class="links">
                  <%= link_to_add_association 'Add an answer', f, (:answer_choices), :class => 'button' %> 
              </div>
          </div>
      </div>
  </div>
            
    <!-- this needs to be centered -->
    <div class="actions">
        <div class="small-12 columns">
            <%= f.submit :is_open => true, :class => 'button [radius round]' %>
        </div>
    </div>
<% end %>