<!-- this page is the view all questions page -->

	<%= link_to question_path(question.id) do %>
	 	<h3>
	   <%= question.description %><br>
	 	</h3>
	 <!-- <h5>
	    It is <%= question.is_open %> that this question is open
	 </h5> -->
	<% end %>
	<p>created by:<%= question.user_id %></p>
 	<ol type="a">
 		<% question.answer_choices.each do |a| %>
			<li><%= a.description %></li>
 		<% end %>
 	</ol>
	<%= form_for question do |f| %>
		<%= f.label :is_open %>
		<%= f.check_box :is_open %>
		<%= f.submit %>
	<% end %>
	<hr>
  