<!-- this page is the view all questions page -->

	<%= link_to question_path(question.id) do %>
	 	<h3 id="clickable-question">
	 	<hr>
	   <%= question.description %>
	 	</h3>
	 		<% end %>
 	 <p>
	 		<% if question.is_open %>
	 			Question is open for voting
	 		<% else %>
	 			Question is closed for voting
	 		<% end %>
	 </p> 
	 <p>Created by: <%= question.user.name %></p>


	<div id="answer-choice-list">

	<ol type="a">
 		<% question.answer_choices.each do |a| %>
 			<div class="answer-choice-description">
			<li><%= a.description %></li>
			</div>
 		<% end %>
 	</ol>
	</div>

<% if question.user == current_user %>
 	<%= form_for question, remote: true do |f| %>

 	<div class="switch">
	 	<%= f.check_box :is_open, id: "question_#{question.id}_is_open" %> 
		<%= f.label :is_open, for: "question_#{question.id}_is_open" %>
 	</div>
 	<% end %>
<% end %>

