<%= link_to question_path(question.id) do %>
 <h3>
 <hr>
   <%= question.question %><br>
 </h3>
 <h5>
    It is <%= question.is_open %> that this question is open
 </h5>
<% end %>
 <ol type="a">
 	<% question.answer_choices.each do |a| %>
		<li><%= a.answer_choice %></li>
 		<% end %>
 </ol>
 
 <% if current_user && current_user.instructor == true %>
 <div>
 <%= form_for question do |f| %>
 <%= f.label :Question_is_open %> <%= f.check_box :is_open, class: "question_checkboxes" %> 
 <%= f.submit %>
 </div>	
 <% end %>

<% end %>
