<%= link_to question_path(question.id) do %>
 <h3>
   <%= question.question %>
 </h3>
<% end %>
 <ol type="a">
 	<% question.answer_choices.each do |a| %>
		<li><%= a.answer_choice %></li>
 		<% end %>
 </ol>
<%= form_for question do |f| %>
<%= f.label :is_open %>
<%= f.check_box :is_open %>
<%= f.submit %>
<% end %>