

<!-- this page shows all the questions the user has created -->

    
<div class="header-wrapper">
  <div class="row">
    <div class="small-12 columns">

			<% if params[:user_id] %>
      <h1 class="h-one"><%= @user.name %>'s questions</h1>
			<% else %>
			<h1 class="h-one">All open questions</h1>
			<% end %>
    </div>
  </div>
 </div>

	<div class="row">
		<div class="small-12 columns">
			<hr>
		</div>
	</div>
 
   <!-- this row holds the questions -->
 
  <div class="row">
     
    <div class="small-9 columns" role="content">
 	
			<div id="questions">
			<%= render @questions %>
			</div>


    </div>

     <aside class="small-3 columns">
 
      
      <div class="panel">

 

        <h5>Welcome</h5>
        <hr>

        <p><%= current_user.name %></p>
        <p></p>


        <ul class="side-nav">
          <li><%= link_to "All open questions", questions_path, :class => 'button [tiny small large]' %></li>
          <li><%= link_to "Create a question", new_question_path, :class => 'button [tiny small large]' %></li>
          <li><%= link_to "My questions", user_questions_path(current_user), :class => 'button [tiny small large]' %></li>
        </ul>
        
      </div>
 
    </aside>
 
     
  </div>

     

  </div>
