

<!-- this page shows all the questions the user has created -->
  <div class="row">
    <div class="small-12 columns">
			<% if params[:user_id] %>
      <h1><%= @user.name %>'s questions</h1>
			<% else %>
			<h1>All open questions</h1>
			<% end %>
    </div>
  </div>


 
   <!-- this row holds the questions -->
 
  <div class="row">
     
    <div class="small-9 columns" role="content">
 	
			<div id="questions">
			<%= render @questions %>
			</div>

			<p><%= link_to "Create New Question", new_question_path %></p>
			<p><%= link_to "My questions", user_questions_path(current_user) %></p>
			<p><%= link_to "All open questions", questions_path %></p>

    </div>
 
     

  </div>
