
<!-- this is the show page for an individual question. -->
<% if @question.is_open == true %>
<h6>Question is open for voting</h6>
 <h3>
   <%= @question.question %>
 </h3>
 <ol type="a">
 	<% @question.answer_choices.each do |a| %>
		<li><%= button_to a.answer_choice, question_answer_choice_responses_path(@question, a) %><%= a.users.size %></li>
 	<% end %>
 </ol>
<% else %>
	<h6>Question is closed for voting</h6>
	<h3>
  	<%= @question.question %>
	</h3>
 	<ol type="a">
		<% @question.answer_choices.each do |a| %>
			<li><%= a.answer_choice %></li>
 		<% end %>
 	</ol>
<% end %>
<%= link_to "Delete Question", question_path(@question), method: :delete %><br>
 <%= link_to "Back to my questions", questions_path %>

