<!-- this is the view for the home page -->   
 
    <div id="row full-width">
      <img src=" http://uconndigitalarts.com/wp-content/uploads/2013/02/classroombuildinglectureresized.jpg"/>
    </div>
   
 
  <div class="row">
    <div class="large-4 columns">
      <img src="http://placekitten.com/400/300">
    </div>
    <div class="large-8 columns">
      <h4>Welcome to Peer Instruct Polls!</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>A free app for classroom polls. Use this to implement classroom polling as described by the Peer Instruction teaching methodology.</p>
          <% if current_user %>
        <p><%= link_to "All open questions", questions_url %></p>
        <p><%= link_to "My questions", user_questions_path(current_user) %></p>
        <p><%= link_to "Create a new question", questions_url %></p>
          <% else %>
          <p><%= link_to "Login", login_url %>, or </p>
          <p><%= link_to "Register", new_user_path %> to get started with polling your class!</p>
          <% end %>
        </div>
        <div class="large-6 columns">
          <p> <h4>Steps to create a poll:</h4> <ol>
          <li>Create and pose multiple choice questions.</li> 
          <li>Students answer over the internet.</li> 
          <li>Show the aggregate results.</li> 
          <li>Have students discuss the question in groups of 3-4</li>
          <li>Re-poll!</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
 
 
   
 
  <div class="row">
    <div class="large-8 columns">
      <h4>Bring participation back to your classroom</h4>
 
      <p>Peer Instruction was first developed for large physics classrooms, but has been proven in all disciplines. While small classrooms can opt for discussions and other participative methods, our online polling app makes it possible for you to bring some interactivity and student participation back into a large classroom - or any kind of presentation - so long as the audience has access to the web (including on their mobile devices).</p>
 
    </div>
    <div class="large-4 columns">
      <img src="http://placebear.com/400/300">
    </div>
  </div>
  