<%# add navigation links to this file %>


<ul class="left">
	<li><i class="fi-lightbulb"></i></li>
	<li class="app-logo">Peer Instruction</li>
</ul>

<ul class="right">
	<% if current_user %>
	  <li class="links-in-nav"><%= link_to "Logout", :logout, method: :post %></li>
		<li class="links-in-nav"><%= link_to "My questions", user_questions_path(current_user) %></li>
		<li class="links-in-nav"><%= link_to "All open questions", questions_path %></li>

	<% else %>
	  <li class="links-in-nav"><%= link_to "Register", new_user_path %></li>
	  <li class="links-in-nav"><%= link_to "Login", :login %></li>
	<% end %>

	<li class="links-in-nav"><%= link_to "Home", root_path %></li>
</ul>
