<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peer Instruction" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Peer Instruction" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
               
          <li class="name">
            <div class="logo-container">
              <h1><%= link_to "Peer Instruction", root_path, :class => "app-logo" %></h1>
            </div>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">
            <% if current_user %>
              <li class="links-in-nav"><%= link_to "Logout", :logout, method: :post %></li>
              <li class="links-in-nav"><%= link_to "My questions", user_questions_path(current_user) %></li>
              <li class="links-in-nav"><%= link_to "All open questions", questions_path %></li>
  
            <% else %>
              <li class="links-in-nav"><%= link_to "Register", new_user_path %></li>
              <li class="links-in-nav"><%= link_to "Login", :login %></li>
            <% end %>

          </ul>
        </section>
      </nav>
    </div>
    


    <main role="main" class="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </main>

   <footer class="row ">
    <div class="large-12 columns footer-container">

      <div clas="row ">
        <div class="large-5 columns about-container">
          <h5>About</h5>
          <p>Who are we</p>
          <p>What is crowfunder</p>
          <p>Jobs</p>
          <p>Press</p>
        </div>
        <div class="large-5 columns">
          <h5>Help</h5>
          <p>FAQ</p>
          <p>Terms of service</p>
          <p>Privacy policy</p>
          <p>Trust and saftey</p>
        </div>
      </div>

      <hr>
      <div class="row ">
        <div class="large-6 columns social-container">
          <p class=""> Peer Instruction</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right social-container">
            <li><a href="#"><i class="fa fa-twitter social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus social-icons" style=" color: silver"></i></a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  </body>

</html>
