<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peer Instruction" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Peer Instruction" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
               
          <li class="name">
            <div class="logo-container">
              <h1><%= link_to "Peer Instruction", root_path, :class => "app-logo" %></h1>
            </div>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">
            <% if current_user %>
              <li class="links-in-nav"><%= link_to "Logout", :logout, method: :post %></li>
              <li class="links-in-nav"><%= link_to "My questions", user_questions_path(current_user) %></li>
              <li class="links-in-nav"><%= link_to "All open questions", questions_path %></li>
  
            <% else %>
              <li class="links-in-nav"><%= link_to "Register", new_user_path %></li>
              <li class="links-in-nav"><%= link_to "Login", :login %></li>
            <% end %>

          </ul>
        </section>
      </nav>
    </div>
    


    <main role="main" class="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </main>

    <div class="footer">

      <div class="row">
              
        <div class="bottom-bar-section small-12 columns">
          <ul class="inline-list small-view medium-offset-4">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "FAQ"%></li>
          </ul>
        </div>

      </div>
       
    </div>
  </body>

</html>
