<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peer Instruction" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Peer Instruction" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <% if current_user %>
          <p>Logged in As: <%= current_user.name %><p>
        <% else %>
          <p>You are not logged in!</p>
        <% end %>


    </main>
  </body>
</html>
